@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.start{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    font-family: 'Tilt Prism';
}

/* CSS */
.button {
    opacity: 0; 
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 100px;
    height: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    &:active, &:hover{
        outline: 0;
    }
    & span {
        background-color: rgb(5, 6, 45);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: 600ms;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Tilt Prism';
        font-weight: 600;
    }
    &:hover span {
        background: none;
    }
    animation: opacity 1s 1 2s forwards;
}