@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.container{
    position: absolute;
    left: 100vw;
    top: 50vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    opacity: 0;
    &_ready{
        position: absolute;
        left: 100vw;
        top: 50vh;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        opacity: 1;
        transition: 2s 2s;
    }
}

.buttons__container{
    display: flex;
    justify-content: space-between;
    min-width: 240px;
    padding: 5px;
    align-items: center;
    margin-bottom: 20vh;
    opacity: 1;
}

.button{
    width: 50px;
    background: transparent;
    border: none;
    & img{
        width: 100%;
    }
}

.title{
    color: white;
    font-family: 'Tilt Prism';
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}